*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container div{
    display: inline-block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: cadetblue;
}
.container div:not(:nth-child(1)){
    margin-left: 35px;
}
.container div:nth-child(1){
    animation: anim 1s ease-in-out infinite alternate;
    background: #4285f4;
}

div:nth-child(2){
    animation: anim 1s ease-in-out -.25s infinite alternate;
    background: #ea4335;
}
div:nth-child(3){
    animation: anim 1s ease-in-out -.50s infinite alternate;
    background: #fbbc05;
}
div:nth-child(4){
    animation: anim 1s ease-in-out -.75s infinite alternate;
    background: #34a853;
}
@keyframes anim {
    from{
        transform: translateY(-10);
    }
    to{
        transform: translateY(5px);
    }
} 